# Virtual environment
.venv/
venv/

# Pycache
__pycache__/
*.__pyc

# Data logs
data/

# Personal files
OBD_Notes.txt

# These are garbage test files
# using get_dtc.py
import obd.py
import sys.py

/data_analysis/

*.png

data_analysis.py

# Get_dtc.py is the one we want to use but I dont want to delete this one for ... reasons
clear_dtc.py
